.DS_Store
.nfs*
#*.png
Rcheck.txt
#*.pdf
tests/testthat/otherData/
tests/testthat/_snaps
tests/testthat/fixtures/
tests/testthat/output/

.Rproj.user

inst/doc
#inst/extdata/*
docs
*.Rds
*.rds
/doc/
/Meta/
